accelerate==1.14.0
addict==2.4.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
asttokens==3.0.2
attrs==26.1.0
av==18.1.0
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
comm==0.2.3
ConfigArgParse==1.7.5
contourpy==1.3.3
cuda-bindings==13.3.1
cuda-pathfinder==1.6.0
cuda-toolkit==13.0.3.0
cycler==0.12.1
dash==4.4.1
debugpy==1.8.21
defusedxml==0.7.1
executing==2.2.1
fastjsonschema==2.22.2
filelock==3.32.2
Flask==3.1.3
fonttools==4.63.0
fsspec==2026.7.0
h11==0.16.0
h5py==3.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.26.1
idna==3.18
importlib_metadata==9.0.0
ipykernel==7.3.0
ipython==9.16.1
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
itsdangerous==2.2.0
janus==2.0.0
jedi==0.20.0
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
matplotlib-inline==0.2.2
mdurl==0.1.2
mpmath==1.3.0
narwhals==2.24.0
nbformat==5.11.0
nest-asyncio==1.6.0
nest-asyncio2==1.7.2
networkx==3.6.1
ninja==1.13.0
numpy==2.5.1
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.20.0.48
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.3.33
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
open3d==0.19.0
opencv-python==5.0.0.93
packaging==26.1
pandas==3.0.5
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
pip==26.1.2
platformdirs==4.11.3
plotly==6.9.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.13.4
pydantic_core==2.46.4
pyDeprecate==0.11.0
Pygments==2.20.0
pyparsing==3.3.2
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyzmq==27.1.0
qwen-vl-utils==0.0.14
referencing==0.37.0
regex==2026.7.19
requests==2.34.2
retrying==1.4.2
rich==15.0.0
rpds-py==2026.6.3
safetensors==0.8.0
scikit-learn==1.9.0
scipy==1.18.0
segment-anything==1.0
setuptools==83.0.0
shellingham==1.5.4
six==1.17.0
stack_data==0.6.3
supervision==0.30.2
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.22.2
torch==2.13.0
torchaudio==2.11.0
torchvision==0.28.0
tornado==6.5.8
tqdm==4.70.0
traitlets==5.16.1
transformers @ git+https://github.com/huggingface/transformers@42f189ded85d18d00b51161d694cafd325e32b91
triton==3.7.1
typer==0.27.1
typing_extensions==4.16.0
typing-inspection==0.4.4
urllib3==2.7.0
wcwidth==0.8.2
Werkzeug==3.1.8
wheel==0.47.0
widgetsnbextension==4.0.15
zipp==4.1.0
